.avatar {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}